<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="tests" thread-count="2">
	<test name="LoginTest">
		<classes>
			<class name="testPackage.LoginTest" />
		</classes>
	</test>
	<test name="LoginTest1">
		<classes>
			<class name="testPackage.LoginTest1" />
		</classes>
	</test>
</suite>